<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- bean definitions here -->
	<bean class="com.takeo.model.Student" id="student">
	
	<property name="sno"> <value>101</value></property>
	
	<property name="sname"> <value> Pravin </value></property>
	
	<property name="sadd"> <value> Chicago</value></property>
	
	
	
	
	
	
	
	</bean>
	
	
	
	
</beans>